<div class="container-fluid m-0 pt-2 header">
  <div class="row">
    <div class="col-sm-12 col-md-2 text-center py-1">
      <img src="../../assets/logo.png" width="90px" height="50px">
    </div>
    <div class="col-sm-12 col-md-3 offset-md-4 py-1 text-center">
      <p>
        <span>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </span> 8AM - 9AM
      </p>
      <span>OUR OPENING HOURS</span>
    </div>

    <div class="col-sm-12 col-md-3 py-1 text-center">
      <p>
        <span>
          <i class="fa fa-phone mx-1" aria-hidden="true"></i>
        </span> <b>+ 955244459966</b>
      </p>
      <span>CALL US FOR CONSULTATION </span>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="text-white">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="text-white">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="text-white">OUR PROFILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive="text-white">OUR TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="text-white">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" routerLinkActive="text-white">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
