<div class="container-fluid first">
  <div class="row">
    <div class="col-sm-12 col-md-11 mx-auto">
      <div>
        <h2>ABOUT US</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettingindustry.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettingindustry.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettingindustry.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettingindustry.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettingindustry.</p>
      </div>
      <div class="row">
        <p class=" offset-sm-0 offset-md-8 col-md-4">{{ x  | uppercase }} <br> {{ y  | uppercase }}</p>
        <span class="offset-md-10 col-md-2">Lorem Ipsum is simply dummy text of the printing</span>
      </div>
    </div>
  </div>
</div>


<div class="second">
  <div>
    <div class="container py-5">
      <div class="row">
        <div>
          <h4>OUR VISION</h4>
          <p>We demonstrate a warm approach to provide a provision of high quality of legal service<br>
            to our clients to represent our clients before arbitration panels.</p>
        </div>
      </div>
      <div class="row py-3">
        <div class="co-sm-12 col-md-5 pt-1">
          <div>
            <div class="bg-info">xxx</div>
            <div></div>
          </div>
        </div>
        <div class="co-sm-12 col-md-7 pt-1">
          <div class="d-md-none">aa</div>
          <p class="my-5 text-white">
            We strive to provide services of the highest quality which
          we ensure by blending our knowledge of the law,
          experience, and interpersonal skills along with
          understanding a constant need for advancement and
          improvement. In addition, we hope leads to us providing
          work of the highest integrity as this allows us to constantly
          train ourselves to be better and seek to provide the high-
          quality services, is to endeavor for excellence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="third">
  <div>
    <div class="container py-5">
      <div class="row py-3">
        <div class="co-sm-12 col-md-7 pt-1">
          <p class="my-5 text-white">
            <b><h4 class="mx-4">OUR MISSION</h4></b>
            We strive to provide services of the highest quality which
          we ensure by blending our knowledge of the law,
          experience, and interpersonal skills along with
          understanding a constant need for advancement and
          improvement. In addition, we hope leads to us providing
          work of the highest integrity as this allows us to constantly
          train ourselves to be better and seek to provide the high-
          quality services, is to endeavor for excellence.
          </p>
        </div>
        <div class="co-sm-12 col-md-5 pt-1">
          <div>
            <div class=""></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="four container-fluid">
  <div class="row">
      <div>

      </div>
  </div>
</div>


<div class="fifth">
  <div>
    <div class="container py-5">
      <div class="row py-3">
        <div class="co-sm-12 col-md-7 pt-1">
          <p class="my-5 text-white">
            <b><h4 class="mx-4">Lorem Ipsum</h4></b>
            Lorem Ipsum is simply dummy text of the printing an
            Lorem Ipsum is simply dummy text of the printing an
            Lorem Ipsum is simply dummy text of the printing and lolo sk
            Lorem Ipsum is sim <br>
            Lorem Ipsum is simply dummy text of the printing and lolo sk
            Lorem Ipsum is simply dummy text of the printing and lolo sk
            Lorem Ipsum is simply dummy text of the printing and lolo sk
            have been completed.
          </p>
        </div>
        <div class="co-sm-12 col-md-5 pt-1">
          <div>
            <div class=""></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
