<div class="container-fluid first p-0">
  <div class="py-5">
    <div class="container">
      <div class="text-center text-white">
        <h3>Lorem Ipsum</h3>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 mt-4">
          <div class="card card-one">
            <div class="bg">
              <div>
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-4">
          <div class="card card-two">
            <div class="bg">
              <div>
                <div class="text-center"><h6>Lorem Ipsum</h6></div>
                <p>Lorem Ipsum is simply dummy text of </p>
                <p>Lorem Ipsum is simply dummy text of </p>
                <p>Lorem Ipsum is simply dummy text of </p>
                <p>Lorem Ipsum is simply dummy text of </p>
                <p>Lorem Ipsum is simply dummy text of </p>
                <p>Lorem Ipsum is simply dummy text of </p>
                <p>Lorem Ipsum is simply dummy text of </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-4">
          <div class="card card-three">
            <div class="bg">
              <div>
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

